


header {
  background-color: #ABD1C9;
  position: fixed;
  padding: 10px;
  margin: 0px;
  border-bottom: 3px solid #F1BFB1;
  text-align: center;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #030404;
}

h3.logo {
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    font-weight: bold;
    margin: 0;
    padding: 0 15px;
  }

* { 
  box-sizing: border-box;
}

body {
    background-color: #FDFEFE;
    font-family: 'Oswald', sans-serif;
    font-size: 16px; 
    font-weight: 200; 
    line-height: 1.6; 
    color: #030404;
    margin: 0px;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 400;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  span {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  }

  .p-header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }
 
  img {
    width: 100%;
  }

  

 .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: blue;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    text-align: center;
    width: 120px;
    border-radius: 10px; 
    transition: 0.2s opacity;
  }

  .button:hover {
    background-color: darkblue;
  }

  .button:focus {
    color: darkblue;
  }

  .navlink {
    display: inline-block;
  }

  .navlink:visited {
    color: #030404;
  }

  .navlink:focus {
    color: red;
  }
  
  .social {
    height: 48px;
    width: auto;
    margin: 8px;
  }


  /* Layout styling */


  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero h1 {
    text-align: center; /* Centers text */
    margin: 0;
    padding: 0.67em 0;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

  #hero p {
    text-align: center;
  }
  #hero {
    background-color: #FDFEFE;
  }
 
  main {
    padding-top: 174px;
  }

  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    width:auto;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }
  
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}