

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

/* || GENERAL STYLES */



header {
  background-color: #ABD1C9;
  position: fixed;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  text-align: center;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #030404;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ABD1C9;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

h3.logo {
    display: inline-block;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    margin: 0;
    padding: 0 15px 15px 15px;
  }

* { 
  box-sizing: border-box;
}

body {
    background-color: #FDFEFE;
    font-family: 'Oswald', sans-serif;
    font-size: 16px; 
    font-weight: 200; 
    line-height: 1.6; 
    color: #030404;
    margin: 0px;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 400;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  span {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  }
 
  img {
    width: 100%;
  }

  .cs-image {
    margin-top: -10px;
  }
 
 .button {
    display: inline-block; 
    background-color: blue;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    text-align: center;
    width: 140px;
    border-radius: 10px; 
    transition-duration: 0.2s;
    transition-property: opacity;
    text-decoration: none;
  }

  .button:hover {
    opacity: 0.8;
  }

  .button:focus {
    color: darkblue;
  }

  .navlink {
    display: inline-block;
  }

  .navlink:focus {
    color: red;
  }
  
  .social {
    height: 48px;
    width: auto;
    margin: 25px;
  }

  .social-icons > a {
    text-decoration: none;
  }


  #contact {
    background-color: #ABD1C9;
    text-align: center;
    width: 100%;
  }

  #contact h2 {
    padding: 20px 0px 0px 0px;
    margin: 5px
    ;
  }

  #contact p {
    margin: 0px 0px 15px 0px;
  }


  /* Layout styling */


  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 

  #hero h1 {
    text-align: center; 
    margin: 0;

    padding: 5px 0;
    display: inline-block;
    width: 100%;
  }

  #hero h2 {
    text-align: center; 
    margin:  -10px 0 0 0;
    padding: -10px 0 0 0;
    display: inline-block;
    width: 100%;
    font-weight: 400;
  }

  #hero p {
    text-align: center;
    font-weight: 300;
    font-size: 1.35em;;
    margin: 5px
  }
  #hero {
    background-color: #FDFEFE;
  }
 
  main {
    padding-top: 100px;
  }

  
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle {
    margin-bottom: -10px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  h3.logo {
    font-size: 30px;
    margin-top: 0px;
  }
  
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 58.3%;
  }

  .col-lg-5 {
    width: 41.7%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-moneta {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}